<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>INESHERS - Extintor</title>
<meta charset="UTF-8">
<link th:href="@{/css/teste.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>


		<div id=containerHeader th:insert="fragmentos/cabecalho :: cabecalho">
				Exemplo de cabeçalho</div>

		<div id="divForm">
				<form action="extintor" method="get" th:object="${extintor}">
						<input id="extintorId" type="number" placeholder="digite o id"
								name="id"
						>

						<select name="agente" id="extintorAgentes">
								<option value="água">Água</option>
								<option value="pó químico">Pó Químico</option>
								<option value="co2">CO2</option>
								<option value="lge">LGE</option>
						</select>
						<input type="submit" value="pesquisar" name="pesquisar"
								onmouseover="idExtintorDefault();"
						/>
				</form>
		</div>
		<br />
		<br />
		<div id="divEach" th:each="extintor: ${lista}">
				<div class="clsEach">
						<div id="divEsquerda">

								<span class="clsSpan"> Número de Identificação:</span>
								<span class="clsResposta">
										<a th:href="@{${id}(id=${extintor.id})}"
												th:text="${extintor.id}" target="_blank"
										></a>

								</span>
								<br />
								<span class="clsSpan">Agente:</span>
								<span class="clsResposta" th:text="${extintor.agente}"></span>
								<br />

								<span class="clsSpan">Data Compra:</span>
								<span class="clsResposta" th:text="${extintor.dataCompra}"></span>
								<br />

								<span class="clsSpan">Volume:</span>
								<span class="clsResposta" th:text="${extintor.volume}"></span>
								<br />
						</div>
						<div id="divDireita">
								<span class="clsSpan">Foto:</span>

								<img
										th:src="@{/images/fotos/{foto}(foto=${#strings.trim(extintor.foto)+ '.jfif'})}"
										class="clsSpan"
								/>
								<br />
						</div>
				</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
</body>
</html>