<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>INESHERS - Extintor</title>
<meta charset="UTF-8">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body onload="onLoadExtintor();">

	<!-- *************************************************************************************************************************************************************************** -->

	<div id=containerHeader th:insert="fragmentos/cabecalho :: cabecalho">Exemplo de cabeçalho</div>
	<br />

	<!-- *************************************************************************************************************************************************************************** -->

	<div id="divForm">
		<form id="idForm" action="extintor" method="get" th:object="${extintor}">
			<input id="extintorPesquisaId" type="text" placeholder="digite o id" name="id">
			<select name="agente">
				<option th:each="extintor : ${listaAgentes}" th:with="agente=${extintor.agente}" th:value="${#strings.trim(agente)}" th:text="${#strings.trim(agente)}"></option>
			</select>
			<input class="classeBotoesForm" type="submit" value="Pesquisar" onmouseover="idExtintorDefault();" />
		</form>
	</div>
	<br />

	<!-- *************************************************************************************************************************************************************************** -->
	<!-- Enxerta caixa de administrador -->
	<div id=containerAdmin th:replace="${session.usuario.matricula} == 1 ? 'fragmentos/adminExtintor' : _ "></div>
	<br />

	<!-- *************************************************************************************************************************************************************************** -->

	<div id="divEach" th:each="extintor: ${lista}">
		<div id="divEsquerda" class="clsCaixas">
			<span> Número de Identificação:</span>
			<span class="clsResposta">
				<a th:href="@{${id}(id=${extintor.id})}" th:text="${extintor.id}" target="_blank"></a>
			</span>
			<span>Classe:</span>
			<span class="clsResposta" th:text="${extintor.classe}"></span>
			<br />
			<span>Agente:</span>
			<span class="clsResposta" th:text="${extintor.agente}"></span>
			<br />
			<span>Data Compra:</span>
			<span class="clsResposta" th:text="${extintor.dataCompra}"></span>
			<br />
			<span>Data Teste:</span>
			<span class="clsResposta" th:text="${extintor.dataTeste}"></span>
			<br />
			<span>Volume:</span>
			<span class="clsResposta" th:text="${extintor.volume}"></span>
			<br />
		</div>
		<div id="divDireita" class="clsCaixas">
			<span class="clsLabel">Foto:</span>
			<img th:src="@{/images/fotos/{foto}(foto=${#strings.trim(extintor.foto)+ '.jfif'})}" width="150" />
			<br />
			<span class="clsLabel">QRCode:</span>
			<img th:src="@{/images/qr/extintorId/{qr} (qr='imageQR' + ${extintor.id} +'.jpg')}" width="150" />
		</div>

	</div>
	<!-- *************************************************************************************************************************************************************************** -->
</body>
</html>