<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Spi</title>
	</head>
	
	<body>
		<img th:src="@{/images/Logo.png}" />
			<div class="header">
				<div class="linha">
					<header>
						<div>
							<h1 class="logo">Solução em Prevenção de Incêndio</h1>
						</div>
						<form method="get" id="f1" action="login">
							<button type="submit">Login</button>
						</form>
					</header>
				</div>
			</div>
			<div class="footer">
				<div class="linha">
					<footer>
						<div class="coluna col12">
							<span>&copy; 2021 - Spi</span>
						</div>
					</footer>
				</div>
			</div>
	</body>
</html>