<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
	</head>
	<body>
		<form action="main" method="post" th:object="${usuario}">
			<label for="matricula">Matrícula</label>
			<input id="matricula" type="text" placeholder="digite sua matrícula" name="matricula"/>
			<label for="senha">Senha</label>
			<input id="senha" type="text" placeholder="digite a sua senha" name="senha"/>
			<input type="submit" value="enviar" />
		</form>
			<span th:text="${atributo1}"> </span>
	</body>
</html>