<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>INESHERS - Login</title>
<meta charset="UTF-8">
<link th:href="@{/css/teste.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body onload="onLoadLogin();">

		<div id=containerHeader th:insert="fragmentos/cabecalho :: cabecalho">
				Exemplo de cabeçalho</div>


		<!-- ****************************************************************************************** -->

		<div id="containerLogin">
				<div class="clsCaixas" id="caixaLogin">
						<span id= "textoLogin" >Já tenho login </span>
						<br />

						<form class="clsLabel" action="main" method="post"
								th:object="${usuario}"
						>
								<label class="clsLabel" for="matricula">Matrícula ou
										Nome</label>
								<input class="clsLabel" id="matricula" type="text"
										placeholder="digite sua matrícula ou nome" name="matriculaOuNome"	/>
								<br />

								<label class="clsLabel" for="senha">Senha</label>
								<input class="clsLabel" id="senha" type="password"
										placeholder="digite a sua senha" name="senha"/>
								<br />
						<div id="divBotao"><input id="botLogin" type="submit" name="logar" value="OK"/></div>
						</form>

				</div>

				<div class="clsCaixas" id="caixaNovo">Quero criar um login</div>
		</div>

</body>
</html>