<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>INESHERS - Login</title>
<meta charset="UTF-8">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body onload="onLoadLogin();">

		<div id=containerHeader th:insert="fragmentos/cabecalho :: cabecalho">
				Exemplo de cabeçalho</div>


		<!-- ****************************************************************************************** -->

		<div id="containerLogin">
				<div class="clsCaixas" id="caixaLogin">
						<span id="textoLogin">Já tenho login </span>
						<br />

						<form class="clsLabel" action="main" method="post"
								th:object="${usuario}"
						>
								<label class="clsLabel" for="matricula">Matrícula ou
										Nome</label>
								<input class="clsLabel" id="matricula" type="text"
										placeholder="digite sua matrícula ou nome"
										name="matriculaOuNome"
								/>
								<br />

								<label class="clsLabel" for="senha">Senha</label>
								<input class="clsLabel" id="senha" type="password"
										placeholder="digite a sua senha" name="senha"
								/>
								<br />
								<div id="divBotao">
										<input id="botLogin" type="submit" name="logar" value="OK" />
								</div>
						</form>

				</div>

				<div class="clsCaixas" id="caixaNovo">
						<span id="textoEditarLogin">Editar login</span>
						<br />

						<form class="clsLabel" action="main" method="post"
								th:object="${usuario}"
						>
								<label class="clsLabel" for="matricula">Matrícula</label>
								<input class="clsLabel" id="editarMatricula" type="text"
										placeholder="digite sua matrícula" name="matricula"
								>
								<br />

								<label class="clsLabel" for="nome">Nome</label>
								<input class="clsLabel" id="editarNome" type="text"
										placeholder="digite seu nome" name="nome"
								/>
								<br />

								<label class="clsLabel" for="senha">Senha</label>
								<input class="clsLabel" id="editarSenha" type="password"
										placeholder="digite a sua senha" name="senha"
								/>
								<br />
								<div id="divEditarBotao">
										<input id="botCriar" type="submit" name="criar" value="Criar" />
								</div>
								<div id="divAtualizarBotao">
										<input id="botAtualizar" type="submit" name="atualizar"
												value="Atualizar"
										/>
								</div>
								<div id="divDeletarBotao">
										<input id="botDeletar" type="submit" name="deletar"
												value="Deletar"
										/>
								</div>
						</form>
				</div>
		</div>
</body>
</html>