<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<meta charset="UTF-8">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<div id=containerHeader th:insert="fragmentos/cabecalho :: cabecalho">Exemplo de cabeçalho</div>

	<div class="clsCaixasAdmin" id="caixaAdminVistoria">
		<br />

		<span id="textoEditarVistoria">Dados de Vistorias</span>
		<br />
		<br />
		<form class="clsLabelAdmin" action="vistoria" method="post" th:object="${vistoria}" enctype="multipart/form-data">

			<!-- O usuário é automaticamente identificado, através de login. Usuário não logado não acessa esta página. -->
			<label class="clsLabelAdmin" for="id">Usuário:</label>
			<br />
			<input class="clsLabelAdmin" id="editarId" type="text" th:value="${session.usuario.nome}" name="userId">
			<br />
			<!-- *************************************************************************************************************** -->


			<label class="clsLabelAdmin" for="id">Número da Vistoria:</label>
			<br />
			<input class="clsLabelAdmin" id="editarIdVistoria" type="text" placeholder="digite o número da Vistoria" name="id">
			<br />

			<label class="clsLabelAdmin" for="fkExtintor">Número do extintor:</label>
			<br />
			<input class="clsLabelAdmin" id="editarId" type="text" placeholder="digite seu Número do extintor" name="fkExtintor">
			<br />

			<label class="clsLabelAdmin" for="dataUltima">Última Vistoria:</label>
			<br />
			<input class="clsLabelAdmin" id="editarClasse" type="text" placeholder="digite a data da última vistoria" name="dataUltima" />
			<br />

			<label class="clsLabelAdmin" for="dataProxima">Próxima Vistoria:</label>
			<br />
			<input class="clsLabelAdmin" id="dataProxima" type="text" placeholder="digite a data da próxima vistoria" name="dataProxima" />
			<br />

			<label class="clsLabelAdmin" for="localizacao">Localização:</label>
			<br />
			<input class="clsLabelAdmin" id="localizacao" type="text" placeholder="digite a localização" name="localizacao" />
			<br />

			<label class="clsLabelAdmin" for="obs">Observação:</label>
			<br />
			<input class="clsLabelAdmin" id="obs" type="text" placeholder="digite alguma observaçãoe" name="obs" />
			<br />
			<label class="clsLabelAdmin" for="foto">Foto:</label>
			<br />
			<input class="clsLabelAdmin" id="fotoUpload" type="file" name="fotoUpload" accept="image/png, image/jpeg" />
			<!-- <input class="clsLabelAdmin" id="foto" type="text" placeholder="digite o nome da foto" name="foto"> -->
			<br />
			<div id="inputBot">
				<input id="botCriarVistoriar" type="submit" name="criar" value="criar" />
				<input id="botAtualizarVistoriar" type="submit" value="atualizar" name="atualizar" />
				<input id="botDeletarVistoriar" type="submit" value="deletar" name="deletar" />
			</div>

		</form>
	</div>
	<br />

	<!-- *************************************************************************************************************** -->
	<!-- Formulário com opções de pesquisa -->
	<div>
		<form action="buscaVistoria" method="get">
			<!-- Usuários -->
			<input id="buscaPorUsuario" type="submit" value="Usuário" name="1" />
			<!-- Carrega todos os usuários. Os exibe de acordo com o javascript -->
			<select name="usuario">
				<option th:each="usuario : ${listaUsuarios}" th:with="varUsuario=${usuario.nome}" th:value="${usuario.matricula}"
					th:text="${usuario.matricula} + ' - ' + ${#strings.trim(varUsuario)}"
				></option>
			</select>
		</form>

		<form action="buscaVistoria" method="get">
			<!-- Extintores -->
			<input id="buscaPorExtintor" type="submit" value="Extintor" name="2" />
			<!-- Carrega todos os extintores. Os exibe de acordo com o javascript -->
			<select name="extintor">
				<option th:each="extintor : ${listaExtintores}" th:with="varExtintor=${extintor.id}" th:value="${extintor.id}" th:text="${extintor.id}"></option>
			</select>
		</form>

		<form action="buscaVistoria" method="get">
			<!-- Extintores -->
			<input id="buscaPorVistoria" type="submit" value="Vistoria" name="3" />
			<!-- Carrega todas as extintores. As exibe de acordo com o javascript -->
			<select name="vistoria">
				<option th:each="vistoria : ${listaVistorias}" th:with="varVistoria=${vistoria.id}" th:value="${vistoria.id}" th:text="${vistoria.id}"></option>
			</select>
		</form>
	</div>
	<!-- *************************************************************************************************************** -->


	<div id="divEachVistoria" th:each="vistoria: ${lista}">
		<span th:text="${vistoria.id}"></span>
		<div class="clsEach">
			<div id="divVistoriaEsquerda">
				<span class="clsSpan"> Número de Identificação da Vistoria:</span>
				<span class="clsResposta">
					<a th:href="@{${id}(id=${vistoria.id})}" th:text="${vistoria.id}" target="_blank"></a>
				</span>
				<br />

				<span class="clsSpan">Número de Identificação do Extintor:</span>
				<span class="clsResposta" th:text="${vistoria.fkExtintor}"></span>
				<br />

				<span class="clsSpan">Número de Identificação do Usuário:</span>
				<span class="clsResposta" th:text="${vistoria.fkUsuario}"></span>
				<br />

				<span class="clsSpan">Última Vistoria</span>
				<span class="clsResposta" th:with="varDataUltima=${vistoria.dataUltimaDate}" th:value="${vistoria.dataUltima}" th:text="${#dates.format(varDataUltima, 'dd-MM-yyyy')}"> </span>
				<br />

				<span class="clsSpan">Período entre vistorias (meses)</span>
				<span class="clsResposta" th:text="${vistoria.periodo}"></span>
				<br />

				<span class="clsSpan">Próxima vistoria</span>
				<span class="clsResposta" th:with="varDataProxima=${vistoria.dataProximaDate}" th:value="${vistoria.dataProxima}" th:text="${#dates.format(varDataProxima, 'dd-MM-yyyy')}">
				</span>
				<br />


			</div>
			<div id="divVistoriaDireita">
				<span class="clsSpan">Foto:</span>
				
				<!-- <img th:src="@{'data:image/png;base64,'+${session.fotoString}}"/> -->
				<img th:src="@{'data:image/png;base64,'+${vistoria.fotoBanco}}" width="200"/>
				<br />
				
				<span class="clsSpan">Localização</span>
				<span class="clsResposta" th:text="${vistoria.localizacao}"></span>
				<br />

				<span class="clsSpan">Observação</span>
				<span class="clsResposta" th:text="${vistoria.obs}"></span>
				<br />
			</div>
		</div>
	</div>

</body>
</html>