<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<meta charset="UTF-8">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<div id="containerHeader" th:insert="fragmentos/cabecalho :: cabecalho">Exemplo de cabeçalho</div>
<br />
	<div class="clsCaixas">
		<br />
		<span>Dados de Vistorias</span>
		<br />
		<br />
		<form action="vistoria" method="post" th:object="${vistoria}" enctype="multipart/form-data">

			<!-- O usuário é automaticamente identificado, através de login. Usuário não logado não acessa esta página. -->
			<label for="usuarioId">Usuário:</label>
			<input class="clsResposta" id="usuarioId" type="text" th:value="${session.usuario.nome}" name="usuarioId">
			<!-- *************************************************************************************************************** -->

			<label for="vistoriaId">Número da Vistoria:</label>
			<input id="vistoriaId" type="text" placeholder="digite o número da Vistoria" name="id">

			<label for="fkExtintor">Número do extintor:</label>
			<input id="fkExtintor" type="hidden" placeholder="digite seu Número do extintor" name="fkExtintor" readonly><br/>
			<select name="extintor" onchange="completaFKExtintor(this);">
				<option th:each="extintor : ${listaExtintores}" th:with="varExtintor=${extintor.id}" th:value="${extintor.id}" th:text="${extintor.id}"  ></option>
			</select>
			<br/>
			<label for="dataUltima">Última Vistoria:</label>
			<input id="dataUltima" type="text" placeholder="digite a data da última vistoria" name="dataUltima" />

			<label for="dataProxima">Próxima Vistoria:</label>
			<input id="dataProxima" type="text" placeholder="digite a data da próxima vistoria" name="dataProxima" />

			<label for="periodo">Período entre vistorias:</label>
			<input id="periodo" type="text" placeholder="digite o período entre vistorias" name="periodo" />

			<label for="localizacao">Localização:</label>
			<input id="localizacao" type="text" placeholder="digite a localização" name="localizacao" />

			<label for="obs">Observação:</label>
			<input id="obs" type="text" placeholder="digite alguma observaçãoe" name="obs" />
			<label for="fotoUpload">Foto:</label>
			<input id="fotoUpload" type="file" name="fotoUpload" accept="image/png, image/jpeg" />
			<div>
				<input class="clsBotoes" id="botCriarVistoriar" type="submit" name="criar" value="criar" onclick="idVistoriaDefault();" />
				<input class="clsBotoes" id="botAtualizarVistoriar" type="submit" value="atualizar" name="atualizar" onclick="idVistoriaDefault();" />
				<input class="clsBotoes" id="botDeletarVistoriar" type="submit" value="deletar" name="deletar" onclick="idVistoriaDefault();" />
				<button type="button" class="clsBotoes" id="botPesquisar" value="pesquisar" name="pesquisar" onclick="pesquisasVistoria();"> Pesquisar</button>
			</div>

		</form>
	</div>

	<br />

	<!-- *************************************************************************************************************** -->
	<!-- Formulário com opções de pesquisa -->
	<div class="clsCaixas" id="divPesquisa" th:insert="fragmentos/adminVistoria :: pesquisas">Botões de pesquisa</div>
	<br />
	<!-- *************************************************************************************************************** -->
	<!-- Todos os itens retornados das pesquisas. -->
	<div id="divEachVistoria" th:each="vistoria: ${lista}">
		<div id="divVistoriaEsquerda" class="clsCaixas">
			<span> Número de Identificação da Vistoria:</span>
			<span class="clsResposta">
				<a th:href="@{/buscaVistoria?3=Vistoria&vistoria={id} (id=${vistoria.id})}" th:text="${vistoria.id}"></a>
			</span>
			<br />

			<span>Número de Identificação do Extintor:</span>
			<span class="clsResposta">
				<a th:href="@{/extintor?id={id} (id=${vistoria.fkExtintor})}" th:text="${vistoria.fkExtintor}"></a>
			</span>
			<br />

			<span>Número de Identificação do Usuário:</span>
			<span class="clsResposta">
				<a th:href="@{/buscaVistoria?2=Usuario&usuario={id} (id=${vistoria.fkUsuario})}" th:text="${vistoria.fkUsuario}"></a>
			</span>
			<br />

			<span>Última Vistoria</span>
			<span class="clsResposta" th:with="varDataUltima=${vistoria.dataUltima}" th:value="${vistoria.dataUltima}" th:text="${#dates.format(varDataUltima, 'dd-MM-yyyy')}"> </span>
			<br />

			<span>Período entre vistorias (meses)</span>
			<span class="clsResposta" th:text="${vistoria.periodo}"></span>
			<br />

			<span>Próxima vistoria</span>
			<span class="clsResposta" th:with="varDataProxima=${vistoria.dataProxima}" th:value="${vistoria.dataProxima}" th:text="${#dates.format(varDataProxima, 'dd-MM-yyyy')}">
			</span>
			<br />


		</div>
		<div id="divVistoriaDireita" class="clsCaixas">
			<span class="clsLabel">Foto:</span>

			<img th:src="@{'data:image/png;base64,'+${vistoria.fotoBanco}}" width="200" />
			<br />

			<span class="clsLabel">Localização</span>
			<span class="clsResposta" th:text="${vistoria.localizacao}"></span>
			<br />

			<span class="clsLabel">Observação</span>
			<span class="clsResposta" th:text="${vistoria.obs}"></span>
			<br />
		</div>
	</div>
</body>
</html>