USE [CombateIncendio]
GO
ALTER TABLE [dbo].[Vistoria] DROP CONSTRAINT [FK_Vistoria_Usuario]
GO
ALTER TABLE [dbo].[Vistoria] DROP CONSTRAINT [FK_Vistoria_Extintor]
GO
/****** Object:  Index [IX_Usuario]    Script Date: 29/08/2021 09:49:59 ******/
DROP INDEX [IX_Usuario] ON [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Vistoria]    Script Date: 29/08/2021 09:49:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vistoria]') AND type in (N'U'))
DROP TABLE [dbo].[Vistoria]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/08/2021 09:49:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Extintor]    Script Date: 29/08/2021 09:49:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Extintor]') AND type in (N'U'))
DROP TABLE [dbo].[Extintor]
GO
/****** Object:  User [Felipe]    Script Date: 29/08/2021 09:49:59 ******/
DROP USER [Felipe]
GO
USE [master]
GO
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [##MS_PolicyEventProcessingLogin##]
GO
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [##MS_PolicyTsqlExecutionLogin##]
GO
/****** Object:  Login [ADAM\ADAM]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [ADAM\ADAM]
GO
/****** Object:  Login [AUTORIDADE NT\SISTEMA]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [AUTORIDADE NT\SISTEMA]
GO
/****** Object:  Login [AUTP74]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [AUTP74]
GO
/****** Object:  Login [Felipe]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [Felipe]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [NT Service\MSSQLSERVER]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [NT SERVICE\SQLSERVERAGENT]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [NT SERVICE\SQLWriter]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 29/08/2021 09:49:59 ******/
DROP LOGIN [NT SERVICE\Winmgmt]
GO
/****** Object:  Database [CombateIncendio]    Script Date: 29/08/2021 09:49:59 ******/
DROP DATABASE [CombateIncendio]
GO
/****** Object:  Database [CombateIncendio]    Script Date: 29/08/2021 09:49:59 ******/
CREATE DATABASE [CombateIncendio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CombateIncendio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CombateIncendio.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CombateIncendio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CombateIncendio_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CombateIncendio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [Felipe]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [Felipe] WITH PASSWORD=N'icNzglzXEmPfDPMVfNuwWEfZkypBXi3AhxKFfxJlOm8=', DEFAULT_DATABASE=[CombateIncendio], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [Felipe] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [AUTP74]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [AUTP74] WITH PASSWORD=N'arJ8pkvR5KgbO6mOu7jq4bxviNgOqlnLMvbhMYFPiZw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [AUTP74] DISABLE
GO
/****** Object:  Login [AUTORIDADE NT\SISTEMA]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [AUTORIDADE NT\SISTEMA] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [ADAM\ADAM]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [ADAM\ADAM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'M6regv7MYULfK1rKPzV4qg1tVhq43Ub0El88ofRRrSM=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 29/08/2021 09:49:59 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'Zj1Cr1jMIF7+4wF4IquI4DRrUDReB1C6mStk2DyYgtw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[CombateIncendio] TO [sa]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [Felipe]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [securityadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [serveradmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [setupadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [processadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [diskadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [dbcreator] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [bulkadmin] ADD MEMBER [AUTP74]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [ADAM\ADAM]
GO
USE [CombateIncendio]
GO
/****** Object:  User [Felipe]    Script Date: 29/08/2021 09:49:59 ******/
CREATE USER [Felipe] FOR LOGIN [Felipe] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Extintor]    Script Date: 29/08/2021 09:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Extintor](
	[Id] [int] NOT NULL,
	[Classe] [nchar](10) NULL,
	[Agente] [nchar](10) NULL,
	[DataCompra] [date] NULL,
	[Volume] [nchar](10) NULL,
	[Foto] [varbinary](50) NULL,
 CONSTRAINT [PK_Extintor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[Extintor] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/08/2021 09:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Matricula] [int] NOT NULL,
	[Nome] [nchar](30) NULL,
	[Senha] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Usuario] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Vistoria]    Script Date: 29/08/2021 09:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vistoria](
	[Id] [int] NOT NULL,
	[DataUltima] [datetime2](7) NULL,
	[DataProxima] [datetime2](7) NULL,
	[fkExtintor] [int] NULL,
	[Obs] [text] NULL,
	[Foto] [varbinary](50) NULL,
	[fkUsuario] [int] NULL,
 CONSTRAINT [PK_Vistoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[Vistoria] TO  SCHEMA OWNER 
GO
INSERT [dbo].[Extintor] ([Id], [Classe], [Agente], [DataCompra], [Volume], [Foto]) VALUES (3, N'A         ', N'Agua      ', CAST(N'2010-05-30' AS Date), N'200       ', NULL)
INSERT [dbo].[Extintor] ([Id], [Classe], [Agente], [DataCompra], [Volume], [Foto]) VALUES (4, N'B         ', N'Pó Químico', CAST(N'2021-04-03' AS Date), N'210       ', NULL)
INSERT [dbo].[Extintor] ([Id], [Classe], [Agente], [DataCompra], [Volume], [Foto]) VALUES (5, N'B         ', N'Co^2      ', CAST(N'2011-05-03' AS Date), N'524       ', NULL)
GO
INSERT [dbo].[Usuario] ([Matricula], [Nome], [Senha]) VALUES (0, N'há                            ', 10)
INSERT [dbo].[Usuario] ([Matricula], [Nome], [Senha]) VALUES (1, N'Felipe Campos                 ', 30)
INSERT [dbo].[Usuario] ([Matricula], [Nome], [Senha]) VALUES (2, N'ADELINE                       ', 888)
GO
/****** Object:  Index [IX_Usuario]    Script Date: 29/08/2021 09:49:59 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario] ON [dbo].[Usuario]
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vistoria]  WITH CHECK ADD  CONSTRAINT [FK_Vistoria_Extintor] FOREIGN KEY([fkExtintor])
REFERENCES [dbo].[Extintor] ([Id])
GO
ALTER TABLE [dbo].[Vistoria] CHECK CONSTRAINT [FK_Vistoria_Extintor]
GO
ALTER TABLE [dbo].[Vistoria]  WITH CHECK ADD  CONSTRAINT [FK_Vistoria_Usuario] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuario] ([Matricula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vistoria] CHECK CONSTRAINT [FK_Vistoria_Usuario]
GO
/****** Object:  Statistic [PK_Extintor]    Script Date: 29/08/2021 09:49:59 ******/
UPDATE STATISTICS [dbo].[Extintor]([PK_Extintor]) WITH STATS_STREAM = 0x0100000001000000000000000000000066CB51440000000040000000000000000000000000000000380300003800000004000A00000000000000000002000000, ROWCOUNT = 9, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_7755B73D]    Script Date: 29/08/2021 09:49:59 ******/
CREATE STATISTICS [_WA_Sys_00000002_7755B73D] ON [dbo].[Usuario]([Nome]) WITH STATS_STREAM = 0x010000000100000000000000000000000E81FCAD000000002907000000000000E906000000000000EF022C00EF0000003C0000000000000008D00000200069000700000004133B0192AD00000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000004C00000000007042000020410000000000007042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B80200000000000075050000000000007D0500000000000040000000000000008F00000000000000DE000000000000002D010000000000007C01000000000000CB010000000000001A02000000000000690200000000000010004C000000803F000000000000803F41006200630020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F000000000000803F4100640061006D002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F000000000000803F4100440045004C0049004E0045002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F000000000000803F460065006C0069007000650020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F0000803F0000803F4A006F00E3006F002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F000000000000803F4D006100720069006100200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F000000000000803F53005300530053005300200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200004000010004C000000803F0000803F0000803F5500730075006100720069006F005F004E00650074006200650061006E00730020002000200020002000200020002000200020002000200020002000040000FF01000000000000000A0000000A0000002800000028000000000000000000000029010000410062006300200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000640061006D002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200045004C0049004E00450020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000460065006C006900700065002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020006800E10020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020004A006F00E3006F00200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020004D00610072006900610020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020005300530053005300530020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020005400650073007400650031005800580058005800580020002000200020002000200020002000200020002000200020002000200020002000200020005500730075006100720069006F005F004E00650074006200650061006E007300200020002000200020002000200020002000200020002000200020000D0000004000000000C001000000811D01000040011E0000811C1F0000011C3B0000811E570000811E750000811E930000811EB10000811ECF0000811EED0000011E0B0100000A00000000000000
GO
/****** Object:  Statistic [IX_Usuario]    Script Date: 29/08/2021 09:49:59 ******/
UPDATE STATISTICS [dbo].[Usuario]([IX_Usuario]) WITH STATS_STREAM = 0x01000000010000000000000000000000E95A59FF00000000A4020000000000006402000000000000380320003800000004000A0000000000000000003F00008007000000D72DD90092AD000008000000000000000800000000000000000000000000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001400000000008040000000410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000F8000000000000000001000000000000400000000000000057000000000000006E0000000000000085000000000000009C00000000000000B300000000000000CA00000000000000E100000000000000100014000000803F000000000000803F00000000040000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F03000000040000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F0F000000040000100014000000803F000000000000803F5A000000040000100014000000803F000000000000803FCF070000040000100014000000803F000000000000803F174E00000400000800000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Usuario]    Script Date: 29/08/2021 09:49:59 ******/
UPDATE STATISTICS [dbo].[Usuario]([PK_Usuario]) WITH STATS_STREAM = 0x010000000100000000000000000000005AEEEF1B00000000A4020000000000006402000000000000380320003800000004000A0000000000000000003F00008007000000D62DD90092AD000008000000000000000800000000000000000000000000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001400000000008040000000410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000F8000000000000000001000000000000400000000000000057000000000000006E0000000000000085000000000000009C00000000000000B300000000000000CA00000000000000E100000000000000100014000000803F000000000000803F00000000040000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F03000000040000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F0F000000040000100014000000803F000000000000803F5A000000040000100014000000803F000000000000803FCF070000040000100014000000803F000000000000803F174E00000400000800000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000007_1920BF5C]    Script Date: 29/08/2021 09:49:59 ******/
CREATE STATISTICS [_WA_Sys_00000007_1920BF5C] ON [dbo].[Vistoria]([fkUsuario]) WITH STATS_STREAM = 0x01000000010000000000000000000000A6B7F36F00000000CB010000000000008B01000000000000380200043800000004000A000000000000000000803FCF07070000000D2ED90092AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK_Vistoria]    Script Date: 29/08/2021 09:49:59 ******/
UPDATE STATISTICS [dbo].[Vistoria]([PK_Vistoria]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 1
GO
USE [master]
GO
